<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [ ]:
!pip install sqlalchemy==1.4
!pip install ipython-sql

In [12]:
%load_ext sql

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [13]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [14]:
%sql sqlite:///my_data1.db

In [15]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [16]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"** . 

   

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [17]:
get_ipython().run_line_magic('sql', 'select distinct("Launch_Site") from SPACEXTBL')

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'KSC'

In [18]:
get_ipython().run_line_magic('sql', 'select "Launch_Site" from SPACEXTBL where "Launch_Site" like \'KSC%\' limit 5')

 * sqlite:///my_data1.db
Done.

[('KSC LC-39A',),
 ('KSC LC-39A',),
 ('KSC LC-39A',),
 ('KSC LC-39A',),
 ('KSC LC-39A',)]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [19]:
get_ipython().run_line_magic('sql', 'select sum(PAYLOAD_MASS__KG_) from SPACEXTBL')

 * sqlite:///my_data1.db
Done.

[(619967,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [32]:
get_ipython().run_line_magic('sql', 'select avg(PAYLOAD_MASS__KG_) from SPACEXTBL where "Booster_Version" = \'F9 v1.1\'')

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date where the succesful landing outcome in drone ship was acheived.


_Hint:Use min function_

In [53]:
get_ipython().run_line_magic('sql', 'select min(Date) from SPACEXTBL where Landing_Outcome = \'Success\'')

 * sqlite:///my_data1.db
Done.

[('2018-07-22',)]

### Task 6

##### List the names of the boosters which have success in ground pad  and have payload mass greater than 4000 but less than 6000

In [71]:
get_ipython().run_line_magic('sql', 'select Booster_Version from SPACEXTBL where Landing_Outcome = \'Success\''
                             'and "PAYLOAD_MASS__KG_" between 4000 and 6000')

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1046.2',),
 ('F9 B5 B1047.2',),
 ('F9 B5 B1046.3',),
 ('F9 B5 B1048.3',),
 ('F9 B5 B1051.2 ',),
 ('F9 B5B1060.1',),
 ('F9 B5 B1058.2 ',),
 ('F9 B5B1062.1',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [75]:
get_ipython().run_line_magic('sql', 'select count(Mission_Outcome) from SPACEXTBL')

 * sqlite:///my_data1.db
Done.

[(101,)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [99]:
get_ipython().run_line_magic('sql', 'select Booster_Version, PAYLOAD_MASS__KG_ from SPACEXTBL where PAYLOAD_MASS__KG_ = (select max(PAYLOAD_MASS__KG_) from SPACEXTBL)')
# Booster_Version
# PAYLOAD_MASS__KG_

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7 ', 15600)]

### Task 9


##### List the records which will display the month names, succesful landing_outcomes in ground pad ,booster versions, launch_site for the months in year 2017
**Note: SQLLite does not support monthnames. So you need to use substr(Date,6,2) for month, substr(Date,9,2) for date, substr(Date,0,5),='2017' for year.**

In [ ]:
# month
get_ipython().run_line_magic('sql', 'alter table SPACEXTBL\n'
                             'add column month' )
get_ipython().run_line_magic('sql', 'update SPACEXTBL\n'
                             'set month = substr(Date,6,2)'
                            )
# year
get_ipython().run_line_magic('sql', 'alter table SPACEXTBL\n'
                             'add column year' )
get_ipython().run_line_magic('sql', 'update SPACEXTBL\n'
                             'set year = substr(Date,0,5)'
                            )

In [268]:
get_ipython().run_line_magic('sql', 'select Mission_Outcome, Booster_Version, Launch_Site,\n' 
                             'month from SPACEXTBL \n'                      
                            'where year = \'2017\' and Mission_Outcome = (select "Mission_Outcome" from SPACEXTBL where "Mission_Outcome" = \'Success\')')

# Booster_Version
# Mission_Outcome = Success
# Launch_Site

 * sqlite:///my_data1.db
Done.

[('Success', 'F9 FT B1029.1', 'VAFB SLC-4E', '01'),
 ('Success', 'F9 FT B1031.1', 'KSC LC-39A', '02'),
 ('Success', 'F9 FT B1030', 'KSC LC-39A', '03'),
 ('Success', 'F9 FT  B1021.2', 'KSC LC-39A', '03'),
 ('Success', 'F9 FT B1032.1', 'KSC LC-39A', '05'),
 ('Success', 'F9 FT B1034', 'KSC LC-39A', '05'),
 ('Success', 'F9 FT B1035.1', 'KSC LC-39A', '06'),
 ('Success', 'F9 FT  B1029.2', 'KSC LC-39A', '06'),
 ('Success', 'F9 FT B1036.1', 'VAFB SLC-4E', '06'),
 ('Success', 'F9 FT B1037', 'KSC LC-39A', '07'),
 ('Success', 'F9 B4 B1039.1', 'KSC LC-39A', '08'),
 ('Success', 'F9 FT B1038.1', 'VAFB SLC-4E', '08'),
 ('Success', 'F9 B4 B1040.1', 'KSC LC-39A', '09'),
 ('Success', 'F9 B4 B1041.1', 'VAFB SLC-4E', '10'),
 ('Success', 'F9 FT  B1031.2', 'KSC LC-39A', '10'),
 ('Success', 'F9 B4 B1042.1', 'KSC LC-39A', '10'),
 ('Success', 'F9 FT  B1035.2', 'CCAFS SLC-40', '12'),
 ('Success', 'F9 FT  B1036.2', 'VAFB SLC-4E', '12')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [314]:
get_ipython().run_line_magic('sql', 'SELECT Landing_Outcome, Date, year FROM SPACEXTBL WHERE \n'
                             'year = \'2010\'')

 * sqlite:///my_data1.db
Done.

[('Failure (parachute)', '2010-06-04', '2010'),
 ('Failure (parachute)', '2010-12-08', '2010')]

In [320]:
get_ipython().run_line_magic('sql', 'SELECT Landing_Outcome, Date FROM SPACEXTBL WHERE \n' 
                            'Landing_Outcome = \'Failure (drone ship)\' OR \n'
                            'Landing_Outcome = (SELECT Landing_Outcome FROM SPACEXTBL \n'
                            
                            'WHERE Landing_Outcome = \'Success (ground pad)\' \n'
                            'AND DATE BETWEEN \"2010-06-04\" AND \"2017-03-20\")\n'                 
                            'ORDER BY Date DESC'
                             )

 * sqlite:///my_data1.db
Done.

[('Failure (drone ship)', '2016-06-15'),
 ('Failure (drone ship)', '2016-03-04'),
 ('Failure (drone ship)', '2016-01-17'),
 ('Failure (drone ship)', '2015-04-14'),
 ('Failure (drone ship)', '2015-01-10')]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%203/LAB-String_Patterns_Sorting_Grouping.md.html">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
--!>

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>